<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/Layout.html :: head">
  <meta charset="UTF-8">
  <title>Articulos</title>
</head>
<body>
<header th:replace="Layout/Layout.html :: header"></header>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h2 class="text-center">Login</h2>
      <div class="card-body">
        <form th:action="@{/login}" method="post">
          <div class="form-group">
            <label for="username">Usuario: </label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Digite el usuario " required>
          </div>


          <div class="form-group">
            <label for="password">Clave: </label>
            <input type="password" id="password" name="password"   class="form-control" placeholder="Digite la clave " required>
          </div>
          <button id="submit" value="Login" class="btn btn-primary btn-block">Entrar</button>
      </form>
        <p th:text="${error}" th:if="${not #strings.isEmpty(error)}"></p>
    </div>
  </div>
</div>
</div>

</body>
</html>